{% extends 'base.html' %}

{% load staticfiles %}

    {% block bodyclass %}class="homepage"{% endblock %}

    {% block content %}

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel1 item active">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-xs-5 col-xs-offset-7">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Psychological & Wellness Therapiess</h1>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="carousel-content-1">
                                    <h2 class="animation animated-item-2">Clinics in Edinburgh and the borders</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-border"></div>
                </div><!--/.item-->

                <div class="carousel2 item">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6 col-xs-11 col-xs-offset-1">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Psychological & Wellness Therapiess</h1>
                                    <h2 class="animation animated-item-2">Specialist Performance Clinics</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-border"></div>
                </div><!--/.item-->

                <div class="carousel3 item">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6 col-xs-11 col-xs-offset-1">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Psychological & Wellness Therapiess</h1>
                                    <h2 class="animation animated-item-2">Focus on individual goals and problems</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-border"></div>
                </div><!--/.item-->
               </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="welcome" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Welcome</h2>
               <p class="lead">
                   Welcome to Alicia’s Keys, thank you for visiting. Congratulations on taking the first step
                    towards your goals! Here on the website, you'll find information about me and what I
                    can offer. If there's anything that's not covered, pop to the contact section and I'll get
                    back to you. My practice is holistic linking mind and body to keep you happy and
                    healthy. I aim to provide a safe space for you to grow and work towards your goals
                    whatever they may be. Swing by the “Services” section for a breakdown of what we can
                    work on together. I firmly believe that in balancing body and mind, great things can be
                    achieved.
               </p>
                <p class="pull-right">Namaste, Alicia</p>
            </div>

        </div><!--/.container-->
    </section><!--/#welcome-->

    <section id="summary">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>Clinics</h2>
                <p class="lead">At locations in Edinburgh and the borders.</p>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="media services-wrap center wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading">Psychological Therapy</h3>
                            <div class="feature-wrap">
                                <div class="feature-wrap-i">
                                <i><img class="yogaicon img-responsive" src="{% static 'website/images/key1.png' %}"/></i>
                                </div>
                            </div>
                            <p>Holistic practice</p>
                        </div>
                        </div>
                </div>

                <div class="col-sm-4">
                    <div class="media services-wrap center wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading">Wellness Therapy</h3>
                            <div class="feature-wrap">
                                <div class="feature-wrap-i">
                                <i><img class="yogaicon img-responsive" src="{% static 'website/images/key2.png' %}"/></i>
                                </div>
                            </div>
                            <p>Focus on individual goals and problem</p>
                        </div>
                        </div>
                </div>

                <div class="col-sm-4">
                    <div class="media services-wrap center wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading">Performance Clinics</h3>
                            <div class="feature-wrap">
                                <div class="feature-wrap-i">
                                <i><img class="yogaicon img-responsive" src="{% static 'website/images/key3.png' %}"/></i>
                                </div>
                            </div>
                            <p>Specialist performance clinics</p>
                        </div>
                        </div>
                </div>

            </div><!--/.row-->

        </div><!--/.container-->

    </section><!--/#summary-->


    <section id="about" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>About Alicia</h2>
               <p class="lead">
                   Alicia has always been fascinated by and passionate about the mind/body link. This led
                    her to studies in both fields, holding qualifications in fitness and psychology. Her
                    approach unique as takes what she has learned and applies it to her practice. Alicia
                    started her career as a fitness instructor; seeing the impact that exercise had on mental
                    health she did her first degree in Health Psychology. Alicia had always been interested
                    in Yoga but never found something that worked for her so when a centre she taught in
                    her asked her to train in and then teach it, she took the plunge and hasn’t looked back
                    since. That was 15 years ago!!! Since then she has gained 2 further post graduate
                    degrees in psychology. In her psychological practice, Alicia has worked across
                    disciplines and has also worked to support professionals in their day to day work. In
                    April 2015, Alicia developed her own approach to flexibility and mobility and began
                    working with athletes on improving performance and preventing injury. Not one to sit on
                    her laurels, she is constantly studying and developing new techniques. She learns from
                    the best in the world to enhance her own training and therefore her teaching.
                    Alicia’s goal has always been to develop a practice which links body and mind, knowing
                    that she has the ability to support people to work through a wide range of challenges.
                    So now, Alicia’s keys is born to provide a sanctuary, support and strategies for the best
                    possible outcomes.
               </p>
               <div class="col-sm-10 col-sm-offset-2">
               <p class="lead" style="text-align: left;">Alicia's qualifications:</p>
                <ul style="text-align: left;">
                    <li>Health Psychology BSc <i>(Hons)</i></li>
                    <li>Health Psychology MSc <i>(with Distinction)</i></li>
                    <li>Applied Psychology <i>(Childcare and Health)</i></li>
                    <li>Health/Fitness Yoga Diploma</li>
                    <li>Pilates Trainer <i>(Professional Level 3)</i></li>
                    <li>O.A. Dip <i>(Pilates Professional Trainer)</i></li>
                    <li>Diet and Nutrition Advisor <i>(Diploma)</i></li>
                    <li>Rock Star Teacher Training</li>
                </ul>
                </div>
                <div class="col-sm-10 col-sm-offset-2">
                <p class="lead" style="text-align: left;">Affliliations:</p>
                <ul style="text-align: left;">
                    <li>International Alliance of Holistic Therapists</li>
                    <li>International Association of Neuro Linguistic Programming and Coaching</li>
                </ul>
                </div>
           </ul>
            </div>

        </div><!--/.container-->
    </section><!--/#about-->

    <section id="locations" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Locations</h2>
            </div>
            <div class="col-xs-6 center">
                <h3>Balanced Lifestyle</h3>
                <p>297 Gilmerton Road<br/>
                Edinburgh<br/>
                EH16 5UJ</p>
                <iframe
                  width=100%
                  height=300px
                  frameborder="0" style="border:2px solid black"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCDTTn1vI40in1iflS5wV9I_FObkcdDTgA
                    &q=EH165UJ">
                </iframe>
            </div>
            <div class="col-xs-6 center">
                <h3>Borders Body & Mind</h3>
                <p>2 Edinburgh Road<br/>
                Lauder<br/>
                TD2 6TW</p>
                <iframe
                  width=100%
                  height=300px
                  frameborder="0" style="border:2px solid black"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCDTTn1vI40in1iflS5wV9I_FObkcdDTgA
                    &q=TD26TW">
                </iframe>
            </div>

        </div><!--/.container-->
    </section><!--/#welcome-->

    <section id="services" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Services</h2>
               <p class="lead">Psychological Therapy</p>
               <p class="lead">Wellness Therapy</p>
               <p class="lead"><a href="{% url 'website:clinics' %}">Performance Clinics</a>
                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="caret"></span></a>
               </p>
               <div id="collapseOne" class="collapse in" aria-labelledby="headingOne">
               <ul class="services-list">
                    <li>Golf</li>
                    <li>Running</li>
                   <li>Weight Training/Power Lifting</li>
                   <li>Aerialists</li>
                   <li>Injury Prevention/Recovery</li>
                   <li>Active Fexibility </li>
                </ul>
               </div>

               <p class="lead">Food and You</p>
            </div>

        </div><!--/.container-->
    </section><!--/#services-->

    <section id="contact-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <a href="#"><i class="fa fa-phone"></i></a>
                        </div>
                        <div class="media-body">
                            <h2>Contact</h2>
                            <p>For more information or to make an appointment, please email <a href="mailto:aliciaskeystherapies@outlook.com" target="_blank">aliciaskeystherapies@outlook.com</a> or use the contact form <a  href="{% url 'website:contact' %}">here</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->    
    </section><!--/#contact-info-->

{% endblock %}